<!DOCTYPE html>
<html lang="en">
  <head>

        <title>Jambot | The Musical Robot</title>
<!--                                                                                                                                                                                                    
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                    `.::-`                                                                                                                 .::-.                                        
                                 `:+sss//o-                                                                                                              `++:osso/.                                     
                               .+ssss+`  .s:                                                                                                            `o/   -ossso:`                                  
                             .+sssso-     :s.                                                                                                           +o`    `/sssso:`                                
                           .+sssss+`      `s/                                                                                                          .s:       -osssso:                               
                         `/ssssss:         ++                   `                                                                   `                  -s.        .ossssso.                             
                        .ossssss:          ++                ./oo                                                                  /s+:`               -s.         `ossssss:                            
   .+o/.               :sssssss:           +o`            .:+:-o-                                                                  `o:-//-             /s`          `osssssso`               -+o/       
   -so+o/.            :ssyhsos/            /ho          -/:` .o-                                                                    `+:  -/:`         `ms`           .osoyhsso`           `-o+os+       
    -ss:-/+-         :sssNhd/o`            /h:       `-/-   -o.     +o/       +o/   :h-          +o+  oooooooooo: .oo.   :oo         `+/   `//.        ds`            :+ysMhsso`        `:+:.+s+`       
     -ss+``:+:      .sshshmho-     ...-`   o:      .//.    /o`      mMh       mMh   :MMy.        dMd  yhhhMMmhhh/ :MM:   oMM`          /o`   `:+-      `o-  ``.-``     osddshys/      ./+- -os+`        
      -sso`  :+:`   osyhhyss+  :ohhNNNNmh:.s`    ./+.    `++`       mMh       mMh   :MMMMy.      dMd     `MMs     :MM:   oMM`           -o-     :+-     //`sdNNMNdmos` .sssyhyys-   .+/.  :ss+`         
       -sso.   -+:`:syhyysso.ss++-'-.. ```:+   .++.     .o:         mMh       mMh   :MM+yMMs.    dMd     `MMs     :MM:   oMM`            .o:     `:o-   -o`.``.`:`/:/ys::ssyyhhso`-+/`   /ss+           
        -sso.    -+osyyysss:        `...``+/ .++.      -o.          mMh       mMh   :MM/ .yMNs`  dMd     `MMs     :MM:   oMM`             `/+`     `/o: .s``...`        `osssyysso/`    /ss+            
         -sss-     -ossssso               o+++-      .+/`           mMh       mMh   :MM/   -hMNo`dMd     `MMs     :MM:   oMM`               -o:      `/o/s-              :ssssss+`    `+ss+             
          .oss:     `/ssss+              .so-      `/o-             dMm      `NMy   :MM/     -hMNNMd     `MMs     :MM:   oMM`                `+o.      `/s/              .sssso-     .oss/              
           .oss+`     .+ss:              :s+      -o/`              -NMd/.`./mMm.   :MM/       :dMMd     `MMs     :MM:   oMM:::::              -o/`     .so              `sss:`     -sss/               
            .osso.     `os:              /ss.   `++.                 `+dNMMMNh/     -NN:         :dd     `NNs     :NN:   oNNNNNNN`              `/o-   `+ss              `ss/      :sss/                
             `+sso-   `oss:              :sss:`:o:                       ```                       -                                              .++`.osso               sss:   `/sso-                 
               :sss:.:osss/              .sssss+`                                                                                                   :ossss+              `ssss+-'+ss+`                  
                .osssssssso`             :ssss/                                                                                                      .sssso              /sssssssss/                    
                 `osssssssso`           .sssso`                                                                                                       /ssss/            :sssssssss:                     
                  `+ssssssss+`         .ossss/                                                                                                        .sssss/          :sssssssss-                      
                   `ossssssss+`       .osssss-                                                                                                         osssss:        :sssssssss:                       
                    -sssssssss+      `ossssss-                           +yy.      +yy-    :oydddhy+.       yy/       yy+                              ossssss:      -sssssssss+                        
                     osssssssss+    `osssssss-                           `hMN:    yMM/  `oNMms+++ohNMd:    `MMs       NMy                              osssssss-    .ssssssssss-                        
                     +ssssssssss/  `ossssssss:                             sMM/ `hMN-  -mMd-       `+NMy   `MMs       NMy                             `ossssssss:  .ossssssssss.                        
                     +sssssssssss+:osssssssss/                              +MMsmMm.   mMd           :MM+  `MMs       NMy                             .ssssssssss+/ssssssssssss.                        
                     +sssssssssssssssssssssss+                               /NMMh`   .MMo            NMh  `MMs       NMy                             .ssssssssssssssssssssssss.                        
                     +ssssssssssssssssssssssso                                sMM`     NMh           -MMo  `MMs       NMy                             :ssssssssssssssssssssssss.                        
                     ossssssssss+:ssssssssssss`                               oMM`     :MMy.        :NMd`   mMd      -MM+                             /sssssssssss+:sssssssssss-                        
                     osssssssss+  .ossssssssss-                               oMM`      .hMMh+:-:/smMN+     -mMm+:-/sNMy                              ossssssssss/  -ssssssssss-                        
                    `osssssssso`   `osssssssss+                               +dd`        .+ymNNNmds:         /ymNNNds-                              -ssssssssss:    :sssssssss:                        
                    `sssssssss.     `+sssssssss-                                                                                                     osssssssss-      +ssssssss/                        
                    -ssssssss/       `+sssssssso`                                                                                                   :sssssssss.       `osssssss+                        
                    :ssssssso`        `+ssssssss+                                                                                                  -sssssssss-         :ssssssso                        
                    +sssssss/          `+ssssssss+`                                                                                               :sssssssss-          `ssssssss.                       
                    +sssssss:           `+sssssssso-`                                                                                           ./sssssssso.            osssssss-                       
                    ossssssss+:`          /sssssssssso+:`                                                                                   -/osssssssssso`          ./ossssssss-                       
                    osssssssssso           :sssssssssssss+`                                                                               :ossssssssssss+`          -sssssssssss:                       
                    `-:://///::-            `-:/++oooooo++.                                                                               /++oooooo+//:.            `:://////:-.                        
  
  Steal this code! Modify it! Learn and grow! <3 BK -->
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/jambot.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/jambot.css">



  </head>
  <body>

    <nav class="navbar navbar-toggleable-xl px-4">
      
      <div class="container my-auto">
        
        <a class="navbar-brand" id="logo" href="http://www.beckykluth.com" target="_blank"><img src="/static/beckylogo.png"></a>
  
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        
            <ul class="navbar-nav" id="anav">
        
              <li class="nav-item">
        
                <a class="nav-link mr-5" href="https://github.com/kluthr/WhatToMusic" target="_blank">Code</a>
        
              </li>
        
              <li class="nav-item">
        
                <a class="nav-link" href="mailto:becky.kluth@gmail.com">Contact</a>
        
              </li>
        
            </ul>
        
        </div> <!--navbarNav-->
      
      </div> <!--container-->
    
    </nav>

    <section>    
            
      <div class="container my-4" id="main">

        <div class="row my-4">
          
          <div class="col-md-1"></div>

          <div class="col-md-3 text-box">
            
            <p class="writing pt-3"></p>

            <p class="song pt-3"></p>
              
          </div>

          <div class="col-md-7 mx-0 text-center">

            <article>
                                        
              <figure class="pt-3 mx-0">

                <img class="jamby" src="/static/jambot.png" />
        
              </figure>
                  
                <br><br>
                
                <span id="btnholder"><input type='button' class='btn' id='playbutton' onclick='javascript:void();' value='Play' /></span>

            </article>
                        
          </div> <!--col-->
                
          <div class="col-md-1"></div>

        </div> <!--row-->
                
      </div> <!--container-->
        
    </section>

    <section>

      <footer class="footer">

        <div class="container">

          <div class="row">

            <div class="col-md-12 text-right">

              <p class="copyright pt-4">© Copyright Becky Kluth 2017. All rights reserved.</p>

            </div> <!--col-->

          </div> <!--row-->
          
        </div> <!--/container-->

      </footer>

    </section>

  
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/static/typed.js"></script>
    <script src="/static/jambot.js" type="text/javascript"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97439312-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>

</html>